@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #00796B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

header .container {
    display: flex;
    /* alinhamento horizontal */
    justify-content: space-between;
    /* alinhamento vertical */
    align-items: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 10px;
}
header nav ul li a:after{
    content: "";
    width: 100%;
    opacity: 0;
    height: 2px;
    background-color: #fff;
    display:block;
    transition: 0.5s;
}
header nav ul li:hover a:after{
    opacity: 100%;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

main {
    min-height: 80vh;
    margin-top: 150px;
}

section.banner {
    padding: 50px;
}

section.banner .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
p {
    color: #C4C4C4;
}

footer {
    text-align: center;
    background-color: #C4C4C4;
    padding: 10px;
}
footer p {
    color: #fff;
}
.btn-primary {
    padding: 10px 30px;
    background-color: #00796B;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
}
.btn-primary:hover{
    background-color: #1d9c8d;
}

/* SOBRE */
section.introducao-sobre {
    padding: 50px 0;
    margin-left: 70px;
    margin-right: 70px;
}

section.introducao-sobre h1 {
    color: #00796B;
    font-size: 50px;
    text-transform: uppercase;
}
h2 {
    color: #00796B;
    font-size: 20px;
    text-transform: uppercase;
}
section.introducao-sobre p {
    color: #C4C4C4;
    padding-bottom: 90px;
}
section.introducao-sobre li {
    color: #C4C4C4;
}
.introducao-sobre .intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.video-sobre iframe {
    width: 100%;
    height: 600px;
}
section.textos-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}
section.textos-sobre p {
    color: #C4C4C4;
    text-align: center;
}

/* SERVIÇOS */
section.desenvolvimento .container,section.consultoria .container,section.marketing .container {
    display: flex;
    justify-content: space-between;
}
section.marketing .container {
    flex-direction: row-reverse;
}

div.container h1 {
    color: #00796B;
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 40px;
}
main {
    margin-left: 70px;
    margin-right: 70px;
}
section.desenvolvimento .container h2,section.consultoria .container h2,section.marketing .container h2 {
    padding-top: 20px;
}

/*Contato*/
.contato {
    display: flex;
    justify-content:space-between;
}
.contato form input:not([type="radio"]), .contato form textarea {
    width: 100%;
    padding: 5px;
}
.contato form label {
    margin: 10px 0 5px;
    display: inline-block;
    color: #C4C4C4;
}
.contato form button {
    border: none;
    background-color: #00796B;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    width: 100%;
    margin: 15px 0;
}
.contato .info {
    padding: 15px 30px;
}
.contato .info iframe {
    max-width: 100%;
    width: 700px;
    height: 300px;
}

/* Orçamento */
.orcamento {
    display: flex;
    justify-content:space-between;
}
.orcamento form input:not([type="radio"], [type="checkbox"]), .orcamento form textarea, .orcamento form select {
    width: 100%;
    padding: 5px;
}
.orcamento form label {
    margin: 10px 0 5px;
    display: inline-block;
    color: #C4C4C4;
}
.orcamento form button {
    border: none;
    background-color: #00796B;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    width: 100%;
    margin: 15px 0;
}
.orcamento form fieldset {
    color: #C4C4C4;
    border-color: #fff;
    width: 100%;
    margin-left: 0;
    margin-top: 7px;
}
.orcamento form textarea {
    resize: none;
    height: 100px;
}
.orcamento form input:focus,.orcamento form textarea:focus,.orcamento form select:focus  {
    outline-color: #00796B;
}
@keyframes flutuar {
    0% {transform: translateY(0)}
    50% {transform: translateY(-15px)}
    100% {transform: translateY(0)}
}
.img-destaque {
    animation: flutuar 2s infinite;
    width: 500px;
    max-width: 100%;
}
@media (max-width: 900px) {
    section.banner .container, section.introducao-sobre .container .intro, section.desenvolvimento div.container, section.marketing div.container, section.consultoria div.container, div.contato{
        flex-wrap: wrap;
        justify-content:center;
    }
    main {
        margin-left: 0;
        margin-right: 0;
    }
    section.video-sobre iframe {
        padding: 40px;
        height:400px;
    }
    section.banner .container .texto {
        text-align: center;
        padding-top: 20px;
    }   
    section.banner {
        padding: 60px 20px 40px;
    }
    section.desenvolvimento .container .texto, section.marketing .container .texto, section.consultoria .container .texto{
        text-align: center;
        padding: 20px 40px;
    }
    section.desenvolvimento .container .img-destaque, section.marketing .container .img-destaque, section.consultoria .container .img-destaque {
        align-self: center;
        padding-top: 20px;
    }
    .container h1 {
        padding-left: 20px;
    }
    .contato, .orcamento {
        padding: 0 30px 10px;
    }
    section.introducao-sobre, section.textos-sobre {
        padding: 20px;
        margin: 20px
    }
}
@media (max-width:624px) {
    header .container {
        flex-wrap: wrap;
        justify-content: center;
    }
    header nav ul {
        padding: 0;
        margin: 0;
    }
}